.container-inicio {
    width: 100%;
    max-width: auto;
    text-align: center;
   

}

.container-cardini {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.card-inicio1 {
    align-items: center;
    margin: 10px;
}

.card-inicio2 {
    align-items: center;
    margin: 10px;
}

.card-inicio {
    border: 10px solid #af473c;
}