.gridHeader{
    display: grid;
    grid-template-columns: 50% 50%;   
}

.logoColum{
    width: 400px;
    padding-left: 110px;
}

.accColum{
    width: 300px;
}

.grid2{
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
}

.navbar {
    background: #945d60;
}
.navbar-brand {
    text-decoration: none;
    color: #ffff;
}
.nav-link {
    text-decoration: none;
    color: #ffff; 
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.botonReserva{
  
    display:block;
    background-color:rgb(148,93,96);
    color:white;
    border: none;
    outline:none;
}

.botonPerfil{
    display:block;
    background-color:rgb(148,93,96);
    color:white;
    border: none;
    outline:none;
}